*{
    margin: 0;
    padding: 0;
}

.container{
    width: 85%;
    margin: 20px auto;
    border-radius: 10px;
}




/* Banner-section */
.banner-section{
    background: rgba(0,0,0,0.5)url('/images/Banner\ Image.png');
    background-blend-mode: darken;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.banner-text{
    color:white;
    text-align:center;
    width: 45%; 
}

.banner-text p{
    font-size: 32px;
    font-family: Merriweather;
    font-weight: 400;  
}

.banner-text h1{
    font-size: 72px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 95px;   
}


/* Contant-section */
.contant{
    text-align: center;
    margin-top: 60px;
}

.contant h1{
    color: #FF0000;
    font-size: 88px;
    font-family: Inter;
    font-weight: 700;
    margin-top: 120px;
    padding: 5px;
}

.contant p{
    color: #FF0000;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    margin-top: 48px;
    padding: 5px;
}

.contant h3{
    color: #070211;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    margin-top: 8px;
    padding: 5px;
}

.contant .image img{
    width: 40%;
    height: 100%;
    padding: 20px 200px;
    margin-top: 45px;
}

/* Welcome-section */
.welcome-section{
    background: rgba(0,0,0,0.5) url('/images/Vectorrr.png');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;   
}
.welcome-text{
    width: 70%;
    padding: 150px;
}
.welcome-text h1{
    color: white;
    font-size: 64px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    word-wrap: break-word;
}
.welcome-text p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    margin-top: 30px;

}
.welcome-image{
width: auto;
}
.welcome-image img{
    padding: 0px 30px;
    margin-right: 40px;
}
.welcome-text button{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    text-transform: uppercase;
    word-wrap: break-word;
    border: none;
    display: inline-block;
    margin-top: 50px;
    background: none;
    cursor: pointer;
}

/* Joinning section */
.joinning-section{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    text-align: center;
    padding: 80px 0;
    margin-top: 120px;
    /* width: 85%; */
    
}
.joinning-text h5{
    color: #070211;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
    text-transform: capitalize;
}
.joinning-text span{
    color: #FF0000;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
    word-wrap: break-word
}
.joinning-text button{
    color: white;
    background:#FF0000;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 35px;
    cursor: pointer;   
}
.joinning-text button:hover{
    background: #562fc2;
    color: #d0ef34;
    transition: .5s;
}

/* Comming soon section */
.comming-soon-section{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.comming-text{
   padding: 10px;
   width: 28%;
}
.comming-text h5{
    color: #FF0000;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    padding: 5px;
}
.comming-text h2{
    color: #070211;
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 900;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-top: 5px;
    padding: 5px;
}
.comming-text p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
    padding: 5px;
}
.comming-img {
    border: 10px solid #FF0000;
    border-radius: 50%;
    padding: 25px;
}
.comming-text2{
    width: 28%;
    padding: 10px;
}
.comming-text2 h2{
    color: #FF0000;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    padding: 5px;
}
.comming-text2 p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
    padding: 5px;
}
.comming-text2 .Happy-new-year-image{
    width: 25%;
    height: auto;
    padding: 5px;
}
.comming-text2 .Happy-new-year-image{
    margin-top: 20px;
}

/* Portfolio- section */
.portfolio-section{
    margin-top: 130px;
    
}
.portfolio-section .text-item{
    width: 60%;
    padding: 20px;
}
.portfolio-section .text-item h5{
    color: #FF0000;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    padding: 5px;
    margin-bottom: 10px;
}
.portfolio-section .text-item h2{
    color: #070211;
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 900;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.portfolio-section .text-item p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
    padding: 5px;
    margin-bottom: 10px;
}
.portfolio-section .image-items{
   width: 100%;
}
.portfolio-section .image-items img{ 
   margin: 10px;
   width: 31%;
   border-radius: 10px;
   box-shadow: 2px 2px 5px 2px grey;
   transition: .2s;
}

.image-items img:hover{
    transform: scale(1);
    background-color: gray;
    box-shadow: 15px 15px 20px 8px rgb(153, 132, 105);
}

/* Subscribe section */
.subscribe-section{
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-top: 120px;
    padding: 70px 0px;
}
.subscribe-section .subs-text h2{
    color: #070211;
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 900;
    text-transform: capitalize;
    word-wrap: break-word;
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 10px;
    
}
.subscribe-section .subs-text p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word; 
    margin-bottom: 10px;  
}

.subs-btn input{
    padding: 24px 100px;
    background: white;
    border: none;
    border-radius: 25px 0px 0px 25px;
}
.subs-btn button{
    background: #FF0000;
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    text-transform: capitalize;
    word-wrap: break-word;
    padding: 20px 40px;
    border-radius: 0px 25px 25px 0px;
    border: none;
    cursor: pointer;
}
.subs-btn button:hover{
    background: #562fc2;
    color: #d0ef34;
    transition: .5s;
}
.subs-btn{
    margin-top: 30px;
}


/* Footer section */
.footer-section{
    background:  #070211;
    width: 100%;
    height: auto;
    margin-top: 120px;
}
.foot-upper{
    display: flex;
    justify-content: space-between;
    padding: 30px;

    

}
.foot-top{
    width: 30%;
    padding: 55px 0;
}
.foot-top2{
    width: 20%;
    padding: 55px;
}
.foot-top p{
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    line-height: 40px;
    word-wrap: break-word;
    text-align: justify;
}
.foot-top2 h6{
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    line-height: 40px;
    word-wrap: break-word;
    text-align: justify;
} 

.foot-middle{
    text-align: center;
}
.foot-middle img{
    padding: 10px;
}
.foot-down{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
}
.foot-downp{
    width: 50%;
    margin-top: 15px;
    padding-bottom: 80px;
    
}
.foot-btn{
    width: 22%;
    /* padding: 30px; */
   
}
.foot-downp p{
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}
.foot-btn button{
    color: white;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    background: none;
    border: none;
}
