*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: 20px auto;
}


/* Css start */
.banner-section{
    background-image: url('/images/Banner\ Image.png');
    background-size: cover;
    /* width: 100%; */
    height: 100%;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-text{
    color:white;
    text-align:center;
    width: 40%;
   
}
.banner-text p{
    font-size: 32px;
    font-family: Merriweather;
    font-weight: 400;
    
}
.banner-text h1{
    font-size: 72px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 95px;
    
}